# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local configuration
*.log
*.env
.env.*

# IDE / editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python-mongodb specific (optional, if you're using MongoDB)
*.bson
*.lock
dump/
